-# coding: utf-8
.block
  %h3 連絡事項
  .content
    %p
      何か共有しておきたい事を書く
.block
  %h3 Links
  %ul.navigation
    %li=link_to "Ruby Kaja 公式サイト", "http://kaja.rubyist.net/"
    %li=link_to "Ruby Kaja のご提案 by @nagachika", "https://speakerdeck.com/u/nagachika/p/ruby-kaja"
