-# coding: utf-8
#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        Ruby Kaja の管理画面です。
        %span.hightlight
          少しずつ良くして行きたい！

-content_for :sidebar, partial("base/sidebar")
