= partial 'sidebar'
header.about-header
  h1#top Ruby Kaja 2013
section.entry-contents.contents
  h2 = link_to "Ruby Kaja 2013 受賞者", "/#{@lcid}2013/kaja"
section.guidelines-contents.contents
  h1#guidlines Ruby Kaja 2013 の選出ルール
  h2 Kaja はコミュニティによって選ばれる
  p 現在活動中の Ruby コミュニティであれば、無条件に 1 名の Kaja を選出することができます。
  p Kaja 選出を希望する Ruby コミュニティは、そのコミュニティが定める自由なルールに基づいて Kaja を選ぶことができます。コミュニティが選出する Kaja は必ずしもそのコミュニティに所属している必要はありません。
  h2 選出までの流れ
  h3 Ruby Kaja 2013 への参加登録（3月〜5月上旬）
  dd Kaja 選出を希望する Ruby コミュニティは、登録フォームから登録を行います。
  h3 参加コミュニティの決定・発表（5月中旬）
  dd 運営委員による審査の上、参加コミュニティを本サイトにて発表します。
  h3 発表（5月下旬）
  dd
    |  6月に「Ruby Kaja」を本サイトにて掲載します。
    br
    |  Ruby Kaja 2013 の表彰式を RubyKajgi 2013 にて行う予定です。
  h2 参加資格
  p 登録時点において、公に継続して活動を行っている Ruby コミュニティが参加資格を有します。参加条件は以下の通りです。
  h3 3 ヶ月に 1 回以上の頻度で、3 名以上による勉強会等を実施している
  h3 3 ヶ月に 1 回以上の頻度で、メルマガ、ポッドキャスト等を配信している
  h3 3 ヶ月に 1 回以上の頻度で、WEB 上で情報を発信している
  h3 3 名以上によって Ruby に関係する開発を継続して行っている
  h2 参加方法
  p
    |  Ruby Kaja を推薦するコミュニティは、定められた期間中に本サイトの専用フォームより参加登録してください。
    br
    |  なお、Ruby Kaja の趣旨や目的に合致しないと運営委員が判断した場合は、応募を受理しない事があります。

section.committee-contents.contents
  h1#committee Ruby Kaja 2013 運営委員
  p 日本 Ruby の会の活動の一環として有志によって運営されています。
  ul
    li
      address
        span.label 顧問
        | ：高橋征義
    li
      address
        span.label 顧問
        | ：角谷信太郎
    li
      address
        span.label 発案
        | ：@nagachika
    li
      address
        span.label スタッフ
        | ：矢部剛嗣 ( @tyabe )
    li
      address
        span.label スタッフ
        | ：橋立友宏 ( @joker1007 )
    li
      address
        span.label スタッフ
        | ：橘田隼一 ( @hayabusa333 )
    li
      address
        span.label スタッフ
        | ：こしばとしあき (@bash0C7)
    li
      address
        span.label スタッフ
        | ：菅井祐太朗 ( @hokkai7go )
    li
      address
        span.label スタッフ
        | ：加藤由佳 ( @yucato_ )
