= partial 'sidebar'
header.about-header
  h1#top Ruby Kaja 2014
section.entry-contents.contents
  h2 = link_to "Ruby Kaja 2014 受賞者（準備中）", "#"

- if @communities.present?
  section.community-list.contents
    h1#community-list 参加コミュニティ
    ul
      - @communities.each_with_index do |community, i|
        li = link_to community[:name], "#community_#{i}"

    table
      - @communities.each_with_index do |community, i|
        tr id="community_#{i}"
          th = community[:name]
          td = auto_link(simple_format community[:description].html_safe)

section.committee-contents.contents
  h1#committee Ruby Kaja 2014 運営委員
  p 日本 Ruby の会の活動の一環として有志によって運営されています。
  ul
    li
      address
        span.label 顧問
        | ：高橋征義
    li
      address
        span.label 顧問
        | ：角谷信太郎
    li
      address
        span.label 発案
        | ：@nagachika
    li
      address
        span.label スタッフ
        | ：矢部剛嗣 ( @tyabe )
    li
      address
        span.label スタッフ
        | ：橘田隼一 ( @hayabusa333 )
    li
      address
        span.label スタッフ
        | ：こしばとしあき ( @bash0C7 )
    li
      address
        span.label スタッフ
        | ：加藤理絵 ( @katorie )
