.hero-unit h1 {
 margin-bottom: 10px; }
.hero-unit h2 {
 margin-bottom: 20px; }

.center {
  margin: 0 auto;
  padding: 0;
  width: 400px; }

section {
  padding-top: 30px; }

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5; }

.form-nominate input[type=text], .form-nominate textarea {
    width: 420px; }
