.hero-unit {
  line-height: 2;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  * {
    padding: 10px 0;
  }
  h2 {
    color: #666;
  }
  p {
    color: #999;
    letter-spacing: 2px;
  }
}

h3 {
  margin-top: 40px;
  font-size: 22px;
}

p, dl {
  font-size: 18px;
  line-height: 1.7;
}

p, dd {
  color: #555555;
}

dd {
  margin: 14px 0 28px 20px;
}

section {
  padding-top: 30px;
}

footer {
  text-align: center;
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}
