.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, class: :text_field

.group
  =f.label :email
  =f.error_message_on :email
  =f.text_field :email, class: :text_field

.group
  =f.label :description
  =f.error_message_on :description
  =f.text_area :description, class: :text_area

.group.navform.wat-cf
  =f.submit pat(:save), class: :button
  =f.submit pat(:cancel), onclick: "window.location='#{url(:communities, :index)}';return false", class: :button
