.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:communities, :index)
      %li=link_to pat(:new), url(:communities, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:community)
    .inner
      %table.table
        %tr
          %th=mat(:community, :name)
          %th=mat(:community, :created_at)
          %th=mat(:community, :approval)
          %th.last="&nbsp;"
        -@communities.each do |community|
          %tr
            %td.first=button_to h(community.name), url(:communities, :show, id: community.id), method: :get, class: :button_to
            %td=l community.created_at
            %td= community.approved? ? pat(:approved) : pat(:disapproved)
            %td.last
              -form_tag url(:communities, :update, community.id), class: :button_to, method: :patch, onsubmit: "return confirm('#{pat(:confirm)}')" do
                =hidden_field_tag :approval, value: "#{!community.approved?}"
                =submit_tag community.approved? ? pat(:disapprove) : pat(:approve)
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
