<%= partial 'sidebar' %>

<header class="about-header">
  <h1>Ruby Kaja 2012</h1>
</header>

<section class="about-contents contents">
  <h2><%= link_to "Ruby Kaja 2012 受賞者", "/2012/#{@lcid}kaja" %>
</section>

<section class="guidelines-contents contents">
  <h1>Ruby Kaja Selection Criteria</h1>
  <h2>Kaja are chosen by the community</h2>
  <p>
    Every active Ruby Community may select one Kaja.
  </p>
  <p>
    The method for choosing a Kaja itself is up to the community. The Kaja need not be a member of the community itself.
  </p>
  <h2>Selection Schedule</h2>
  <dl>
    <dt><h3>Participation Application (June to July)</h3></dt>
    <dd>Communities who wish to select a Kaja apply via the registration form.</dd>
    <dt><h3>Descision and publication of participating communities (Beginning of August)</h3></dt>
    <dd>Organizers will review the applications and publish the participating communities on this site.</dd>
    <dt><h3>Registration of Ruby Kaja (mid-August)</h3></dt>
    <dd>Each participating community will be able to register one Kaja from a special form.</dd>
    <dt><h3>Announcement (mid-September)</h3></dt>
    <dd>
      "Ruby Kaja" will be announced on this site in mid-September.<br />
      We plan to have a ceremony recognizing the first generation of Ruby Kaja at Sapporo Ruby Kaigi 2012.
    </dd>
  </dl>
  <h2>Participation Qualifications</h2>
  <p>
    At the time of application, the community actively conducts official activities.<br/>
    (An active community has at least three members and has a public record of activity over the last three months. The management committee will review each application.)
  </p>
  <h2>Participation Procedure</h2>
  <p>
    Communities who wish to select a Ruby Kaja should fill in the application form within the application period.
    Please note that the management committee reserve the right to reject applications if they feel they don't match the spirt of Ruby Kaja.
  </p>
</section>

<section class="committee-contents contents">
  <h1>Management Committee</h1>
  <p>The members of the committee are volunteers from Yokohama.rb.</p>
  <ul>
    <li><address><span class="label">Adviser</span>: Masayoshi Takahashi</address></li>
    <li><address><span class="label">Adviser</span>: Shintaro Kakutani</address></li>
    <li><address><span class="label">Initial Proposal</span>: @nagachika</address></li>
    <li><address><span class="label">Producer</span>: Dan (@dan5ya)</address></li>
    <li><address><span class="label">Staff</span>: Takeshi Yabe (@tyabe)</address></li>
    <li><address><span class="label">Staff</span>: Kauznari Takahashi(@1syo)</address></li>
    <li><address><span class="label">Staff</span>: Satoshi Ebisawa (@satococoa)</address></li>
    <li><address><span class="label">Staff</span>: Tomohiro Hashidate (@joker1007)</address></li>
  </ul>
</section>
