-# coding: utf-8

%div.page-header
  %h1
    Ruby Kajaとは

%div
  %p
    <strong>Ruby Kaja</strong>は、RubyやRubyコミュニティに貢献している人達に与えられる称号です。
  %p
    すばらしい功労者はもちろん、あまり知られることのなかったRubyistをも称えましょう！
  %p
    Kajaとは「若手の筆頭」を意味し、狂言の
    %a(href="http://www.kabuki-bito.jp/kabuki_column/todaysword/post_230.html")太郎冠者
    が由来です。もともと冠者は男子を意味しますが、Ruby Kajaは性別は不問です！ 冠者について

%p.pull-right
  %a(href="#")
    %small ページの先頭へ
    %i.icon-chevron-up

