-# coding: utf-8

%div.page-header
  %h1
    Ruby Kajaとは

%div
  %p
    <strong>Ruby Kaja</strong>は、RubyやRubyコミュニティに貢献している人達に与えられる称号です。
  %p
    すばらしい功労者はもちろん、あまり知られることのなかったRubyistをも称えましょう！
  %p
    Kajaとは「若手の筆頭」を意味し、狂言の太郎冠者が由来です。<br/>
    もともと冠者は男子を意味しますが、Ruby Kajaは性別は不問です！<br/>

%p.pull-right
  %a(href="#")
    %small ページの先頭へ
    %i.icon-chevron-up

