-# coding: utf-8

%div.page-header
  %h1
    Ruby Kaja とは

%div
  %p
    <strong>Ruby Kaja</strong> は、Rubyコミュニティに対する貢献者に与えられる称号です。
  %p
    Rubyコミュニティで活躍するRubyistにスポットを当てることにより、<br/>
    Rubylistの更なる活躍とRubyコミュニティ活動の活性化を応援するプロジェクトとして<br/>
    2012年の「みなとRuby会議」からスタートしました。
  %p
    ちなみに、Kajaとは「若手の筆頭」を意味し、狂言の太郎冠者が由来です。

%div.page-header
  %h3
    Ruby Kaja 選出の流れ

%div
  %p
    各Rubyコミュニティから、Ruby Kajaを選出していただきます。
  %p
    以下、Ruby Kajaの指名から公表に至るまでのプロセスを紹介します。

  %dl
    %dt
      Ruby Kajaの指名
    %dd
      参加を希望するRubyコミュニティは、8月下旬までに登録を行います。
    %dt
      審査
    %dd
      登録情報をもとに、コミュニティの活動内容と選出理由が「Ruby Kaja」の趣旨に合致するか、<br/>
      また選出の要件を満たしているかが運営委員により判定されます。
    %dt
      発表
    %dd
      10月上旬に受賞対象を決定し、本ウェブサイトを通じて「Ruby Kaja」を発表します。

%div.page-header
  %h3
    参加資格

%div
  %p
    登録時点において、継続して活動を行っているRubyコミュニティのみが参加資格を有します。<br/>
    Rubyコミュニティの定義については、<a href="http://jp.rubyist.net/magazine/?0028-ForeWord">こちら</a>を参照してください
