-# coding: utf-8

%div.page-header
  %h1
    Ruby Kaja とは

%div
  %p
    <strong>Ruby Kaja</strong> は、Rubyコミュニティに対する貢献者に与えられる称号です。
  %p
    Rubyコミュニティで活躍する若手のRubyistにスポットを当てることにより、<br/>
    若手Rubylistの更なる活躍とRubyコミュニティ活動の活性化を応援するプロジェクトとして<br/>
    2012年の「みなとRuby会議」からスタートしました。
  %p
    ちなみに、Kajaとは「若手の筆頭」を意味し、狂言の太郎冠者が由来です。<br/>
    冠者という名前には「男子」という意味が濃くありますが、Ruby Kajaでは性別は不問です。<br/>

%p.pull-right
  %a(href="#")
    %small ページの先頭へ
    %i.icon-chevron-up

