-# coding: utf-8
%div.page-header
  %h1
    What is Ruby Kaja?

%div
  %p
    <strong>Ruby Kaja</strong> is a title to recognize people who have contributed to Ruby or the Ruby community.
  %p
    Let's commemorate not only those who have made a great contribution, but also those who are not so well known.
  %p
    Kaja means rising star, and comes from a kabuki term.
  %p
    Traditionally, the term has been used to refer to young men, but for Ruby Kaja, gender does not matter.

%p.pull-right
  %a(href="#")
    %small Return to Top

