-# coding: utf-8

%div.page-header
  %h1
    参加コミュニティ

- if flash[:complete]
  %div(class="alert alert-info")
    %h2.alert-heading
      応募を受け付けました
    %p
      RubyKajaにご参加いただき、ありがとうございます。<br/>
      後日、運営委員の審査結果及び、Kajaの登録方法をメールにてご連絡いたします。

%div
  %p
    現在、参加コミュニティを募集中です。
  %p
    %i.icon-exclamation-sign
    %strong 応募締め切り：2012年7月末日
= partial "form"
%p.pull-right
  %a(href="#")
    %small ページの先頭へ

