-# coding: utf-8

%div.page-header
  %h1
    Management Committee

%div
  %p
    The members of the committee are volunteers from Yokohama.rb.

  %ul
    %li
      Adviser: Masayoshi Takahashi
    %li
      Adviser: Shintaro Kakutani
    %li
      Initial Proposal: @nagachika
    %li
      Producer: Dan (@dan5ya)
    %li
      Staff: Takeshi Yabe (@tyabe)
    %li
      Staff: Kauznari Takahashi(@1syo)
    %li
      Staff: Satoshi Ebisawa (@satococoa)
    %li
      Staff: Tomohiro Hashidate (@joker1007)

%p.pull-right
  %a(href="#")
    %small Return to Top

