-# coding: utf-8

%div.page-header
  %h1
    運営委員

%div
  %ul
    %li
      だん（@dan5ya）
    %li
      Takeshi Yabe(@tyabe）
    %li
      高橋一生（@1syo）
    %li
      海老沢聡（@satococoa）

%p.pull-right
  %a(href="#")
    %small ページの先頭へ
    %i.icon-chevron-up

