-# coding: utf-8

%div.page-header
  %h1
    Ruby Kajaの選出ルール

%div.page-header
  %h3
    Kajaはコミュニティによって選ばれる
%div
  %p
    現在活動中のRubyコミュニティであれば、無条件に1名のKajaを選出することができます。
  %p
    Kaja選出を希望するRubyコミュニティは、そのコミュニティが定める自由なルールに基づいてKajaを選ぶことができます。コミュニティが選出するKajaは必ずしもそのコミュニティに所属している必要はありません。


%div.page-header
  %h3
    選出までの流れ

%div
  %dl
    %dt
      参加表明（6月〜7月）
    %dd
      Kaja選出を希望するRubyコミュニティは、応募フォームから参加登録を行います。
    %dt
      参加コミュニティの決定・発表（8月上旬）
    %dd
      運営委員による審査の上、参加コミュニティを本サイトにて発表します。<br/>
    %dt
      Ruby Kajaの登録（8月中）
    %dd
      参加コミュニティは1名のKajaを選出し、専用フォームより登録を行います。
    %dt
      発表（9月中旬）
    %dd
      9月中旬に「Ruby Kaja」を本サイトにて発表します。
      %p
        （@todo:確認）初代Ruby Kajaの表彰式を札幌Ruby会議2012にて行う予定です。

%div.page-header
  %h3
    参加資格

%div
  %p
    登録時点において、公に継続して活動を行っているRubyコミュニティが参加資格を有します。<br/>
    （3名以上よる3ヶ月間の活動実績が最低基準。運営委員による審査あり。）

%div.page-header
  %h3
    参加方法

%div
  %p
    Ruby Kajaを推薦するコミュニティは、定められた期間中に本サイトの専用フォームより参加登録してください。
  %p
    なお、Ruby Kajaの趣旨や目的に合致しないと運営委員が判断した場合は、応募を受理しない事があります。

%p.pull-right
  %a(href="#")
    %small ページの先頭へ
    %i.icon-chevron-up

