-# coding: utf-8

%div.page-header
  %h1
    応募要項

%div.page-header
  %h3
    応募資格

%div
  %p
    登録時点において、継続して活動を行っているRubyコミュニティのみが参加資格を有します。<br/>
    Rubyコミュニティの定義については、<a href="http://jp.rubyist.net/magazine/?0028-ForeWord">こちら</a>を参照してください

%div.page-header
  %h3
    応募方法

%div
  %p
    Ruby Kajaを推薦するコミュニティは、定められた期間中に本サイトの専用フォームより応募してください。<br/>
    なお、主催者は、Ruby Kajaの趣旨や目的に合致しないと判断できるものについては、応募を受理しない場合があります。

%div.page-header
  %h3
    Ruby Kaja 選出までの流れ

%div
  %p
    各Rubyコミュニティから、Ruby Kajaを選出していただきます。
  %p
    以下、Ruby Kajaの指名から公表に至るまでのプロセスを紹介します。

  %dl
    %dt
      参加表明
    %dd
      参加を希望するRubyコミュニティは、7月下旬までに応募を行います。
    %dt
      参加コミュニティの発表
    %dd
      参加コミュニティを本サイトにて発表します。<br/>
      参加コミュニティには、Kaja登録用フォームのURLをご連絡します。
    %dt
      Ruby Kajaの指名
    %dd
      参加コミュニティは、8月下旬までに専用フォームよりKajaの指名を行います。
    %dt
      審査
    %dd
      登録情報をもとに、コミュニティの活動内容と選出理由が「Ruby Kaja」の趣旨に合致するか、<br/>
      また選出の要件を満たしているかが運営委員により判定されます。
    %dt
      発表
    %dd
      9月中旬に受賞対象を決定し、札幌Ruby会議にて「ruby kaja」を発表します。<br/>
      また、本ウェブサイト上に「ruby kaja」を掲載します。

%p.pull-right
  %a(href="#")
    %small ページの先頭へ
    %i.icon-chevron-up

