-# coding: utf-8

%div.page-header
  %h1
    歴代のRuby Kaja

%div.year
  %h3 2012 Ruby Kaja

  %ul.thumbnails
    %li.span3
      %div.thumbnail
        = image_tag 'ruby.jpg', width: '100', alt: 'Dan Yamamoto'
        %div.caption
          %h5 Dan Yamamoto
          %p
            %a(href="#")Yokohama.rb
          %p
            %a(href="#")github
            %a(href="#")twitter
            %a(href="#")facebook

    %li.span3
      %div.thumbnail
        = image_tag 'ruby.jpg', width: '100', alt: 'Takahashi Kazunari'
        %div.caption
          %h5 Takahashi Kazunari
          %p
            %a(href="#")Yokohama.rb
          %p
            %a(href="#")github
            %a(href="#")twitter
            %a(href="#")facebook
