-# coding: utf-8
%div(class="navbar navbar-fixed-top")
  %div.navbar-inner
    %div.container
      %a.brand(href="/")Ruby Kaja
      %div{:class => "nav-collapse"}
        %ul.nav
          %li.active
            %a(href="/#about")RubyKajaとは
          %li
            %a(href="/#guidelines")応募要項
          %li
            %a(href="/#communities")参加コミュニティ
          %li
            %a(href="/#committee")運営委員
          %li
            %a(href="/history")歴代Kaja

        %p(class="navbar-text pull-right")
          -if I18n.locale == :ja
            %a(href="/locale/en")English
          -else
            %a(href="/locale/ja")日本語
