-# coding: utf-8
%div(class="navbar navbar-fixed-top")
  %div.navbar-inner
    %div.container
      %a.brand(href="/")Ruby Kaja
      %div{:class => "nav-collapse"}
        %ul.nav
          %li.active
            %a(href="#about")= t("menu.about")
          %li
            %a(href="#guidelines")= t("menu.application_criteria")
          %li
            %a(href="#communities")= t("menu.participating_communities")
          %li
            %a(href="#committee")= t("menu.management_community")
          %li
            - if I18n.locale == :ja
              %a(href="/en")English
            - else
              %a(href="/")日本語
