-# coding: utf-8
%div(class="navbar navbar-fixed-top")
  %div.navbar-inner
    %div.container
      %a.brand(href="/#")Ruby Kaja
      %div{:class => "nav-collapse"}
        %ul.nav
          %li.active
            %a(href="/#about")RubyKajaとは
          %li
            %a(href="/#nominate")推薦する
          %li
            %a(href="/#kaja")歴代Kaja

