-# coding: utf-8

%div.page-header
  %h1
    推薦方法

%div
  %p
    Ruby Kajaを推薦するコミュニティは、定められた期間中に本サイトの専用フォームより登録します。<br/>
    なお、主催者は、Ruby Kajaの趣旨や目的に合致しないと判断できるものについては、登録を受理しない場合があります。

%div.page-header
  %h3
    注意事項

%div
  %ul
    %li

%div.center
  %p
    %a(class="btn btn-primary btn-large" data-toggle="modal" href="/nominate")推薦する
