%div(class="alert alert-info")
  %h2.alert-heading
    Application Completed
  %p
    Thank you for participating in RubyKaja.<br/>
    We'll contact you later regarding the method for registering a Kaja.
