<div class="sidebar">
  <a href="<%= i18n_path('/') %>" class="logo"><small class="text">Ruby Kaja</small></a>
  <nav class="global-nav">
    <ul>
      <% %w[about entry].each do | page | %>
        <li class="<%= page %> link"><%= link_to page.capitalize, i18n_path("/#{page}") %></li>
      <% end %>
      <li class="locale link">
        <% if I18n.locale == :ja %>
          <a href="/en/about">English</a>
        <% else %>
          <a href="/about">日本語</a>
        <% end %>
      </li>
    </ul>
  </nav>
  <span class="copy">
    &copy; 2012<br />
    RubyKaja Team
  </span>
</div>
