<div class="sidebar">
  <a href="/" class="logo"><small class="text">Ruby Kaja</small></a>
  <nav class="global-nav">
    <ul>
      <li class="about link"><a href="/about">About</a></li>
      <li class="entry link"><a href="/entry">Entry</a></li>
      <li class="kaja link"><a href="/kaja">Kaja</a></li>
    </ul>
  </nav>
  <span class="copy">
    &copy; 2012<br />
    RubyKaja Team
  </span>
</div>
