<div class="sidebar">
  <a href="<%= i18n_path('/') %>" class="logo"><small class="text">Ruby Kaja</small></a>
  <nav class="global-nav">
    <%= menu_list %>
  </nav>
  <span class="copy">
    &copy; 2012<br />
    RubyKaja Team
  </span>
</div>
