<%= partial 'sidebar' %>

<header class="about-header">
  <h1>Ruby Kaja</h1>
  <h2>
    Ruby Kajaであなたのコミュニティを支える<br />
    身近なRubyistを賞賛しよう！
  </h2>
  <p><strong>To begin recruitment from 2012-06-02.</strong></p>
</header>

<section class="about-contents contents">
  <h1>Ruby Kajaとは</h1>
  <p>
    <strong>Ruby Kaja</strong>は、RubyやRubyコミュニティに貢献している人達に与えられる称号です。すばらしい功労者はもちろん、あまり知られることのなかったRubyistをも称えましょう！<br />
  </p>
  <p>
    Kajaとは「<ruby>若手<rt>わかて</rt></ruby>の<ruby>筆頭<rt>ひっとう</rt></ruby>」を意味し、狂言の<a href="href=http://www.kabuki-bito.jp/kabuki_column/todaysword/post_230.html"><ruby>太郎冠者<rt>たろうかじゃ</rt></ruby></a>が由来です。<br />
    もともと冠者は男子を意味しますが、Ruby Kajaは性別は不問です！
  </p>
</section>

<section class="guidelines-contents contents">
  <h1>Ruby Kajaの選出ルール</h1>
  <h2>Kajaはコミュニティによって選ばれる</h2>
  <p>
    現在活動中のRubyコミュニティであれば、無条件に1名のKajaを選出することができます。
  </p>
  <p>
    Kaja選出を希望するRubyコミュニティは、そのコミュニティが定める自由なルールに基づいてKajaを選ぶことができます。コミュニティが選出するKajaは必ずしもそのコミュニティに所属している必要はありません。
  </p>
  <h2>選出までの流れ</h2>
  <dl>
    <dt><h3>参加表明（6月〜7月）</h3></dt>
    <dd> Kaja選出を希望するRubyコミュニティは、応募フォームから参加登録を行います。</dd>
    <dt><h3>参加コミュニティの決定・発表（8月上旬）</h3></dt>
    <dd>運営委員による審査の上、参加コミュニティを本サイトにて発表します。</dd>
    <dt><h3>Ruby Kajaの登録（8月中）</h3></dt>
    <dd>参加コミュニティは1名のKajaを選出し、専用フォームより登録を行います。</dd>
    <dt><h3>発表（9月中旬）</h3></dt>
    <dd>
      9月中旬に「Ruby Kaja」を本サイトにて発表します。<br />
      初代Ruby Kajaの表彰式を札幌Ruby会議2012にて行う予定です。
    </dd>
  </dl>
  <h2>参加資格</h2>
  <p>
    登録時点において、公に継続して活動を行っているRubyコミュニティが参加資格を有します。<br />
    （3名以上よる3ヶ月間の活動実績が最低基準。運営委員による審査あり。）
  </p>
  <h2>参加方法</h2>
  <p>
    Ruby Kajaを推薦するコミュニティは、定められた期間中に本サイトの専用フォームより参加登録してください。<br />
    なお、Ruby Kajaの趣旨や目的に合致しないと運営委員が判断した場合は、応募を受理しない事があります。
  </p>
</section>

<section class="committee-contents contents">
  <h1>運営委員</h1>
  <p>日本 Ruby の会の活動の一環として Yokohama.rb の有志によって運営されています。</p>
  <ul>
    <li><address><span class="label">顧問</span>：高橋征義</address></li>
    <li><address><span class="label">顧問</span>：角谷信太郎</address></li>
    <li><address><span class="label">発案</span>：@nagachika</address></li>
    <li><address><span class="label">プロデューサー</span>：だん ( @dan5ya )</address></li>
    <li><address><span class="label">スタッフ</span>：矢部剛嗣 ( @tyabe )</address></li>
    <li><address><span class="label">スタッフ</span>：高橋一生 ( @1syo )</address></li>
    <li><address><span class="label">スタッフ</span>：海老沢聡 ( @satococoa )</address></li>
    <li><address><span class="label">スタッフ</span>：橋立友宏 ( @joker1007 )</address></li>
  </ul>
</section>
