<%= partial 'sidebar' %>

<section class="contents">
  <h1>運営委員</h1>
  <p>日本 Ruby の会の活動の一環として Yokohama.rb の有志によって運営されています。</p>
  <ul>
    <li><span>顧問：</span>高橋征義</li>
    <li><span>顧問：</span>角谷信太郎</li>
    <li><span>発案：</span>@nagachika</li>
    <li><span>プロデューサー：</span>だん ( @dan5ya )</li>
    <li><span>スタッフ：</span>矢部剛嗣 ( @tyabe )</li>
    <li><span>スタッフ：</span>高橋一生 ( @1syo )</li>
    <li><span>スタッフ：</span>海老沢聡 ( @satococoa )</li>
    <li><span>スタッフ：</span>橋立友宏 ( @joker1007 )</li>
  </ul>
</section>
