<%= partial 'sidebar' %>

<section class="communities-contents contents">
  <h1>Participating Communities</h1>

  <header>
    <h2>We are currently recruiting communities for Ruby Kaja.</h2>
    <p class="deadline"><strong>Application deadline: the last day of July, 2012</p>
  </header>
</section>

<section class="entry-form contents">
  <% if flash[:complete] %>
    <div class="success">
      <h2>Application Completed</h2>
      <p>Thank you for participating in RubyKaja.<br/>
      We'll contact you later regarding the method for registering a Kaja.
    </div>
  <% else %>
    <h2>Please enter the information of the community.</h2>
    <%= partial 'form' %>
  <% end %>
</section>
