<%= partial 'sidebar' %>

<section class="communities-contents contents">
  <h1>参加コミュニティ登録</h1>
  <header>
    <h2>参加コミュニティの応募は締め切りました。</h2>
    <p class="deadline"><strong>応募締め切り：2012年7月末日</strong></p>
  </header>
</section>
