<%= partial 'sidebar' %>

<section class="communities-contents contents">
  <h1>Participating Communities</h1>
  <header>
    <h2>We are currently recruiting communities for Ruby Kaja.</h2>
    <p><a href="https://docs.google.com/forms/d/1LDUQURb5skcGE5jemkHKJz4YPrIwCUpt_-h1Ginq09Y/viewform">Click here for Application Form</a></p>
    <p class="deadline"><strong>Application deadline: Sun 12 May 2013 23:59(JST)</p>
  </header>
</section>
