<%= partial 'sidebar' %>

<section class="communities-contents contents">
  <h1>参加コミュニティ登録</h1>
  <header>
    <h2>現在、Ruby Kajaでは参加コミュニティを募集中です。</h2>
    <p><a href="https://docs.google.com/forms/d/1LDUQURb5skcGE5jemkHKJz4YPrIwCUpt_-h1Ginq09Y/viewform">応募フォームはこちら</a></p>
    <p class="deadline"><strong>応募締め切り：2013年5月12日(日) 23:59(JST)</strong></p>
  </header>
</section>
