<%= partial 'sidebar' %>

<section class="communities-contents contents">
  <h1>参加コミュニティ登録</h1>
  <header>
    <h2>参加コミュニティの応募は締め切りました。</h2>
    <p class="deadline"><strong>応募締め切り：2012年7月末日</strong></p>
  </header>
</section>

<% if Community.approved.count > 0 %>
  <section class="community-list contents">
    <h1>参加コミュニティ</h1>
    <table>
      <tbody>
        <% Community.approved.each do |community| %>
          <tr>
            <th><%=h community.name %></th>
            <td><%=simple_format h(community.description) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>
