<%= partial 'sidebar' %>

<section class="communities-contents contents">
  <h1>参加コミュニティ登録</h1>

  <header>
    <h2>現在、Ruby Kajaでは参加コミュニティを募集中です。</h2>
    <p class="deadline"><strong>応募締め切り：2012年7月末日</strong></p>
  </header>

  <div class="entry-form">
    <% if flash[:complete] %>
      <div class="success">
        <h2>応募を受け付けました</h2>
        <p>RubyKajaにご参加いただき、ありがとうございます。<br/>
        後日、運営委員の審査結果及び、Kajaの登録方法をメールにてご連絡いたします。</p>
      </div>
    <% else %>
      <h2>コミュニティの情報を入力してください</h2>
      <div class="form">
        <%= partial 'form' %>
      </div>
    <% end %>
  </div>
</section>

<section class="community-list contents">
  <h1>参加コミュニティ一覧</h1>
  <p>野レ喫方ぽどぐぞ雑勉克モノ街小りをど動6委ん間数カハ救教こ評24転ロルツ寧潤造タイヲ御12発直就素ど。</p>
  <table>
    <tbody>
      <tr>
        <th>Shibuya.rb</th>
        <td>野レ喫方ぽどぐぞ雑勉克モノ街小りをど動6委ん間数カハ救教こ評24転ロルツ寧潤造タイヲ御12発直就素ど。西ル胸続しお炎強カ合隈スい開帰ノハ間違強くしわふ同書く書後ノクア痢暮樹セ一話昭ラ質摘横日父宅もでお。事4詐メ碁車みがふう落身くえなぶ減吏ヨニミラ車端ぐさ一田な台必ッゆ二立ルウ増52壌お窮必ばべみ頑象ぱぎイ確座マノヤヒ庫僚ウヌ新民リハヒユ止喚宴ほぜ。</td>
      </tr>
      <tr>
        <th>Shibuya.rb</th>
        <td>野ヲ御12発直就素ど。西ルハ間違強日父宅もでお。事4一田な台必ッゆ二立ルウ増52壌お窮必ばべみ頑象ぱぎイ確座マノヤヒ庫僚ウヌ新民リハヒユ止喚宴ほぜ。</td>
      </tr>
      <tr>
        <th>Shibuya.rb</th>
        <td>野レ喫方ぽど24転ロルツ寧潤造タイヲ御12発直就素ど。西ルハ間違強くしわふ同書く書後ノクア痢暮樹セ一話昭ラ質摘横日父宅もでお。事4詐メ碁車みがふう落身くえなぶ減吏ヨニミラ車端ぐさ一田な台必ッゆ二立ルウ増52壌お窮必ばべみ頑象ぱぎイ確座マノヤヒ庫僚ウヌ新民リハヒユ止喚宴ほぜ。</td>
      </tr>
    </tbody>
  </table>
</section>
