<%= partial 'sidebar' %>

<section class="faq-contents contents">
  <h1>FAQ</h1>

  <h2>RubyKaja について</h2>
  <h3><strong>Q.</strong>Ruby Heroとの関係は？</h3>
  <p><strong>A.</strong>Ruby Hero は RubyKaja のヒントとなっていますが、直接の関係はありません。RubyKaja から日本人の Hero 候補を出そうという意図もありません。</p>
  <h3><strong>Q.</strong>「若手」って何歳ぐらいまでですか？</h3>
  <p><strong>A.</strong>RubyKaja における若手とは比喩としての表現なので、年齢は不問です。「ベテランではない」「有名な Rubyist ではない」ぐらいの意味合いで受け止めてもらえれば、と考えています。</p>
  <h3><strong>Q.</strong>登録時のメールアドレスは何に利用されますか？</h3>
  <p><strong>A.</strong>運営委員からの連絡をお伝えする用途に利用します。それ以外の用途に利用することはありません。</p>

  <h2>選考について</h2>
  <h3><strong>Q.</strong>選考基準はありますか？</h3>
  <p><strong>A.</strong>自由です。各コミュニティで自由に決めてください。運営委員としては、コミュニティの特色にあった方が選ばれることを望んでいます。</p>
  <h3><strong>Q.</strong>Kaja はコミュニティに所属しているメンバーから選ばれるものですか？</h3>
  <p><strong>A.</strong>必ずしもコミュニティのメンバーでなくても構いません。我々はこの人を推薦したい！という思いで、直接コミュニティに関わってない方を Kaja として選出しても問題ありません。</p>
  <h3><strong>Q.</strong>コミュニティからの選出理由を求められますか？</h3>
  <p><strong>A.</strong>選出理由と、選出された方の紹介文を提出していただきます。Kaja を発表する際に活用させていただく可能性があります。</p>
  <h3><strong>Q.</strong>各コミュニティから選出された RubyKaja から No.1 を決定したりしますか？</h3>
  <p><strong>A.</strong>今のところ、Kaja の中で更に誰かを選ぶことは想定していません。</p>
  <h3><strong>Q.</strong>既に有名な方を Kaja に推薦しては駄目ですか？</h3>
  <p><strong>A.</strong>「有名」の定義は人それぞれですので、コンセプトを踏まえた上でコミュニティが推薦したい人であれば、誰を推薦していただいても構いません。コミュニティの選考結果を尊重します。</p>

  <h2>発表について</h2>
  <h3><strong>Q.</strong>Kaja の発表はいつですか？</h3>
  <p><strong>A.</strong><a href="http://rubykaigi.org/2013" target="_blank">Rubykaigi2013</a>にて発表を行う予定です。</p>
  <h3><strong>Q.</strong>Kaja になった場合、RubyKaigi2013 に出席することになりますか？</h3>
  <p><strong>A.</strong>特別に出席を要請されたり、招待したりということはありません。</p>
  <h3><strong>Q.</strong>Kaja として選ばれたら、何か特典はありますか？</h3>
  <p><strong>A.</strong>Rubyist からの賞賛という名誉に加えて、RubyKaja 関連グッズ (RubyKaja ロゴのステッカー等) の贈呈を予定しています。</p>
</section>
