<%= partial 'sidebar' %>

<section class="faq-contents contents">
  <h1>FAQ</h1>

  <h2>RubyKaja について</h2>
  <p>Q. Ruby Heroとの関係は？</p>
  <p>A. Ruby Hero は RubyKaja のヒントとなっていますが、直接の関係はありません。RubyKaja から日本人の Hero 候補を出そうという意図もありません。</p>
  <p>Q. 「若手」って何歳ぐらいまでですか？</p>
  <p>A. RubyKaja における若手とは比喩としての表現なので、年齢は不問です。「ベテランではない」「有名な Rubyist ではない」ぐらいの意味合いで受け止めてもらえれば、と考えています。</p>
  <p>Q. 登録時のメールアドレスは何に利用されますか？</p>
  <p>A. 運営委員からの連絡をお伝えする用途に利用します。それ以外の用途に利用することはありません。</p>

  <h2>選考について</h2>
  <p>Q. 選考基準はありますか？</p>
  <p>A. 自由です。各コミュニティで自由に決めてください。運営委員としては、コミュニティの特色にあった方が選ばれることを望んでいます。</p>
  <p>Q. Kaja はコミュニティに所属しているメンバーから選ばれるものですか？</p>
  <p>A. 必ずしもコミュニティのメンバーでなくても構いません。我々はこの人を推薦したい！という思いで、直接コミュニティに関わってない方を Kaja として選出しても問題ありません。</p>
  <p>Q. コミュニティからの選出理由を求められますか？</p>
  <p>A. 選出理由と、選出された方の紹介文を提出していただきます。Kaja を発表する際に活用させていただく可能性があります。</p>
  <p>Q. 各コミュニティから選出された RubyKaja から No.1 を決定したりしますか？</p>
  <p>A. 今のところ、Kaja の中で更に誰かを選ぶことは想定していません。</p>
  <p>Q. 既に有名な方を Kaja に推薦しては駄目ですか？</p>
  <p>A. 「有名」の定義は人それぞれですので、コンセプトを踏まえた上でコミュニティが推薦したい人であれば、誰を推薦していただいても構いません。コミュニティの選考結果を尊重します。</p>
  <p>Q. コミュニティから選出された後、審査はありますか？</p>
  <p>A. コミュニティからの選出後の審査はありません。コミュニティから選出された時点で Kaja となります。ただし、コミュニティ側には参加条件として活動実績を求めています。</p>
  <p>Q. 活動実績ってどのくらいですか？</p>
  <p>A. 3 人以上の継続的に参加しているメンバーが居ること、直近 3 ヶ月以上の活動実績があることの 2 点です。</p>

  <h2>発表について</h2>
  <p>Q. Kaja の発表はいつですか？</p>
  <p>A. 第 1 回は札幌 Ruby 会議 2012 にて発表を行う予定です。第 2 回以降については未定です。</p>
  <p>Q. Kaja になった場合、札幌 Ruby 会議に出席することになりますか？</p>
  <p>A. 特別に出席を要請されたり、招待したりということはありません。</p>
  <p>Q. Kaja として選ばれたら、何か特典はありますか？</p>
  <p>A. Rubyist からの賞賛という名誉に加えて、RubyKaja 関連グッズ (RubyKaja ロゴのステッカー等) の贈呈を予定しています。</p>
</section>
