<div class="site-title-wrapper">
  <div class="site-title">
    <nav class="global-nav">
      <%= menu_list %>
    </nav>
    <span class="rubyist-award image"><small class="text">Rubyist award for regional community</small></span>
    <span class="yo-logo image"><small class="text">Ruby kaja</small></span>
    <a href="#" id="TouchHook" class="wa-logo image"><small class="text">冠者</small></a>
    <span class="begin-recruitment image"><small class="text">To begin recruitment from 2012-06-02.</small></span>
    <span class="logo image"></span>
    <span class="stamp image"></span>
    <span class="copy image"><small class="text">©2012 RubyKaja Team</small></span>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('#TouchHook').on('click', function(){
      return false;
    });
  });
</script>
