<div class="site-title-wrapper">
  <div href="/about" class="site-title">
    <nav class="global-nav">
      <ul>
        <li class="about link"><a href="/about">About</a></li>
        <li class="entry link"><a href="/entry">Entry</a></li>
        <li class="kaja link"><a href="/kaja">Kaja</a></li>
      </ul>
    </nav>
    <span class="rubyist-award image"><small class="text">Rubyist award for regional community</small></span>
    <span class="yo-logo image"><small class="text">Ruby kaja</small></span>
    <span class="wa-logo image"><small class="text">冠者</small></span>
    <span class="begin-recruitment image"><small class="text">To begin recruitment from 2012-06-02.</small></span>
    <span class="logo image"></span>
    <span class="stamp image"></span>
    <span class="copy image"><small class="text">©2012 RubyKaja Team</small></span>
  </div>
</div>
