-# coding: utf-8
=partial 'navbar'

%header
  %div(class="hero-unit")
    %h1 Ruby Kaja
    %h2
      - if I18n.locale == :ja
        Ruby Kajaであなたのコミュニティを支える身近なRubyistを賞賛しよう！
      - else
        Praise the Rubyists in your community through Ruby Kaja
    %p
      %strong To begin recruitment from 2012-06-02.

%section#about
  = partial 'about'
%section#guidelines
  = partial 'guidelines'
%section#communities
  = partial 'communities'
%section#committee
  = partial 'committee'
