.site-title-wrapper
  .site-title
    nav.global-nav
      = menu_list
    span.rubyist-award.image
      small.text Rubyist award for regional community
    span.yo-logo.image
      small.text Ruby kaja
    a#TouchHook.wa-logo.image[href="#"]
      small.text 冠者
    span.begin-recruitment.image
      small.text To begin recruitment from 2012-06-02.
    span.logo.image
    span.stamp.image
    span.copy.image
      small.text ©2012 RubyKaja Team
script[type="text/javascript"]
  | $(function(){ $('#TouchHook').on('click', function(){ return false; }); });
