<%= partial 'sidebar' %>

<section class="contents">
  <ul id="KajaContainer">
    <li class="kaja">
      <div class="inner-kaja">
        <img class='img' src="" alt="kaja icon" />
        <h2 class="kaja-name">kaja name</h2>
        <span class="community">community name</span>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li class="kaja">
      <div class="inner-kaja">
        <img class='img' src="" alt="kaja icon" />
        <h2 class="kaja-name">kaja name</h2>
        <span class="community">community name</span>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li class="kaja">
      <div class="inner-kaja">
        <img class='img' src="" alt="kaja icon" />
        <h2 class="kaja-name">kaja name</h2>
        <span class="community">community name</span>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li class="kaja">
      <div class="inner-kaja">
        <img class='img' src="" alt="kaja icon" />
        <h2 class="kaja-name">kaja name</h2>
        <span class="community">community name</span>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li class="kaja">
      <div class="inner-kaja">
        <img class='img' src="" alt="kaja icon" />
        <h2 class="kaja-name">kaja name</h2>
        <span class="community">community name</span>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li class="kaja">
      <div class="inner-kaja">
        <img class='img' src="" alt="kaja icon" />
        <h2 class="kaja-name">kaja name</h2>
        <span class="community">community name</span>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li class="kaja">
      <div class="inner-kaja">
        <img class='img' src="" alt="kaja icon" />
        <h2 class="kaja-name">kaja name</h2>
        <span class="community">community name</span>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li class="kaja">
      <div class="inner-kaja">
        <img class='img' src="" alt="kaja icon" />
        <h2 class="kaja-name">kaja name</h2>
        <span class="community">community name</span>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li class="kaja">
      <div class="inner-kaja">
        <img class='img' src="" alt="kaja icon" />
        <h2 class="kaja-name">kaja name</h2>
        <span class="community">community name</span>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
  </ul>
</section>
<script type="text/javascript" src="/javascripts/jquery.wookmark.min.js"></script>
<script type="text/javascript">
  //$(function(){
  //  $('#KajaContainer li').wookmark({
  //    autoResize: true,
  //    container: $('#KajaContainer'),
  //    offset: 10,
  //    itemWidth: 280
  //  });
  //});

  $(function(){

    // **********************
    // init
    // **********************
    $.fx.interval = 30;
    var $KajaContainer = $('#KajaContainer');
    var KajaContainerWidth = 0;
    var flowtingStatus = {
      flag:0,
      scrolltop:0,
      top:0,
      left:0,
      width:0,
      margin:10,
      padding:0
    };

    $KajaContainer.find('li').wookmark({
      autoResize: true,
      container: $KajaContainer,
      offset: 10,
      itemWidth: 280
    });

    $KajaContainer.find('li').css('cursor','pointer');

    // **********************
    // event
    // **********************
    $KajaContainer.find('li').on('click', function(){
      if( $(this).is('.flowting') ){
        flowtingReset( 'move' );

      } else if( flowtingStatus.flag ){
        flowtingReset();
        flowtingSet( $(this) );

      } else {
        flowtingSet( $(this) );
      }
    });

    $(window).on('resize scroll', function(){
      flowtingReset( 'move' );
    });

    // **********************
    // functions
    // **********************
    function flowtingSet( $this ){

      $this = $this;
      KajaContainerWidth = $KajaContainer.width();

      var fs = flowtingStatus;
      fs.flag = 1;
      fs.scrolltop = $('body').scrollTop();
      fs.top = $this.css('top');
      fs.left = $this.css('left');
      fs.width = $this.outerWidth();
      fs.padding = parseInt( $this.css('padding') );

      $this.addClass('flowting').animate({
        top:fs.margin + fs.scrolltop,
        left:fs.margin,
        width:KajaContainerWidth - fs.margin * 2 - fs.padding * 2
      }, 300, 'swing', function(){
        $this.find('.hide').slideDown();
      });

      //console.log({
      //  'scrolltop':fs.scrolltop,
      //  'top':fs.top,
      //  'left':fs.left,
      //  'margin':fs.margin,
      //  'padding':fs.padding,
      //  'width':fs.width
      //});
    }

    function flowtingReset( mode ){
      if( flowtingStatus.flag ){

        var mode = mode || 'normal';
        var $flowting = $KajaContainer.find('.flowting');
        var fs = flowtingStatus;

        $flowting.find('.hide').hide();

        if( mode == 'normal'){
          $flowting.css({
            top:fs.top,
            left:fs.left,
            width:fs.width
          });
          $flowting.removeClass('flowting');

        } else if ( mode == 'move' ){
          $flowting.animate({
            top:fs.top,
            left:fs.left,
            width:fs.width
          }, 200, 'swing', function(){
            $flowting.removeClass('flowting');
          });
        }

        flowtingStatus.flag = 0;
      }
    }


  });

</script>
