<!DOCTYPE html>
<!--[if IE ]><html lang="ja" class="ie"><![endif]-->
<!--[if !IE ]><!-->
<html lang="ja">
<!--<![endif]-->
  <head>
    <meta charset="UTF-8" />
    <title><%= [@title, "Ruby Kaja"].compact.join(" | ") %></title>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- IEの表示モード -->
    <meta name="viewport" content="width=800" /><!-- ipad,iphone width 最適化 -->
    <%= stylesheet_link_tag "style", :media => "all", :cache => true %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
      window.jQuery || document.write( '<script type="text/javascript" src="/javascripts/jquery.js"><\/script>' )
    </script>
  </head>
  <body id="<%= @page_id %>">
    <div class="bg-kumo"></div>
    <div class="bg-matsu"></div>
    <!-- start / #Container -->
    <div id="Container">
      <%= yield %>
    </div>
    <!-- end / #Container -->

    <!-- start / #ie_container -->
    <div id="ie_container">
      <strong>ブラウザとして認識できませんでした。</strong>
      <p>Google Chromeとかでみてください。</p>
    </div>
    <!-- end / #ie_container -->
  </body>
</html>
