-# coding: utf-8
!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= [@title, "Ruby Kaja"].compact.join(" | ")
    %meta(content="" name="description")
    %meta(content="" name="author")
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    =stylesheet_link_tag 'bootstrap.min', 'base'
    :css
      body {
        padding-top: 60px;
      }
    =javascript_include_tag 'application', 'jquery'
    =yield_content :include
  %body

    %div(class="navbar navbar-fixed-top")
      %div.navbar-inner
        %div.container
          %a.brand(href="/")Ruby Kaja
          %div{:class => "nav-collapse"}
            %ul.nav
              %li.active
                %a(href="/about")RubyKajaとは
              %li
                %a(href="/nominate")応募する
              %li
                %a(href="/kaja")歴代Kaja
    %div.container
      =yield

      %footer.footer
        Ruby Kaja is devised by
        %a(href="http://twitter.com/nagachika")@nagachika.
        produced by
        %a(href="http://twitter.com/dan5ya")@dan5ya.
        operated by
        %a(href="http://groups.google.com/group/yokohamarb")Yokohama.rb.
